*{
    margin: 0;
    font-family: 'myriad-pro', sans-serif;
    text-decoration: none;
    color: inherit; 
}

/*primera parte*/

.pp1 .p1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}
.pp1 .p2{
    position: absolute;
    margin-left: 45vw;
    margin-top: 20vw;
    width: 10%;
    color: orange;
    animation-name: p1 ;
    animation-duration: 2s;
}

/*segunda parte*/

.pp2 {
    background: #ffff;
    margin-left: 30vw;
    margin-top: 10vw;
    width: 40vw;
    height: 20vw;
    border-radius: 2vw;
    position: absolute;
    animation-name: p2 ;
    animation-duration: 3s;
}
.pp2 .p1{
    margin-left: 45%;
    margin-top: 1vw;
}
.pp2 .p2{
    text-align: center;
    font-size: 2vw;
    margin-top: 1vw;
}
.pp2 .p3{
    margin-left: 45%;
    margin-top: 1vw;
}
.pp2 .p4{
    text-align: center;
    font-size: 2vw;
}
.pp2 .p5{
    text-align: center;
    font-size: 1vw;
    margin-top: 0.5vw;
}
@keyframes p1{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes p2{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}